language: java
before_install:
- curl https://raw.github.com/liveSense/all/master/travis-settings.xml --create-dirs
  -o target/travis/settings.xml
- openjdk6
script:
- mvn deploy --settings target/travis/settings.xml
env:
  global:
  - secure: ClM8QoNU3cfmqqpYqhFEl288jMA9a6jSzMNHe5zvlbLFFI5Pv3lTDWv1IWBK40qvv7CexxrlJMBvPH4DIeMIY/7o+5AhvwgStOETNW59Mryc6mITxkx56SOMjxR2FNP4Ix8AScf9rUN4rnRz4nC12vFN7gQt6Vn+YKnVd0ESoHI=
  - secure: Hpw3xt9t9PjnmvO2pFvOxxuREOq7fqAvDZaEDunVSfqXyeaCjdzXLSfV9tu/RVI0kGBwXs5P9abfTTmz6sMOYXQtyq/bhlyYnh7kwAonEidwQIBNm9S+2OmDvYMJISM1iJWBqZEIlvg24/eT+H4mcp8yE8YVyDICKAeU5/iDvEY=
